- var lang = ['ru', 'en', 'uk', 'be', 'uz', 'kk', 'az', 'lt', 'mo', 'lv', 'ky', 'tg', 'hy', 'tk', 'et']
- var langName = ['Русский', 'English (Английский)', 'Українська (Украинский)', 'Беларуская (Белорусский)', 'Ўзбекча (Узбекский)', 'Қазақша (Казахский)', 'Azərbaycanca (Азербайджанский)', 'Lietuvių (Литовский)', 'Moldovenească (Молдавский)', 'Latviešu (Латышский)', 'Кыргызча (Киргизский)', 'Тоҷикӣ (Таджикский)', 'Հայերեն (Армянский)', 'Türkmen (Туркменский)', 'Eesti (Эстонский)']
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    block head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='search', type='application/opensearchdescription+xml', href='/opensearch.xml', title='Конвертация раскладки')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel='stylesheet', href='css/convert.css')
  body
    block link
      -var selected = 'Раскладка'; //default
    -var menu = { 'Раскладка': '/', 'Эмоджи': 'emoji.html' };
    //- { 'Что дальше?': 'touch-typing/', 'Спасибо': 'donate/' };

    .navbar.navbar-light.bg-faded(role='navigation')
      .container
        // Collapsed navigation
        .navbar-header
          // Expander button
          //- button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          a.navbar-brand(href='.') Typing.su
          button.navbar-toggler.hidden-sm-up.float-sm-right(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar2') ≡
          #exCollapsingNavbar2.collapse.navbar-toggleable-xs
            // Main navigation
            ul.nav.navbar-nav
              each val, key in menu
                if (selected === key)
                  li.nav-item.active
                    a.nav-link(href=val)
                      = key
                      span.sr-only (current)
                else
                  li.nav-item
                    a.nav-link(href=val)= key
            //-   li.nav-item
            //-     a.nav-link(href='touch-typing/') Что дальше?
            //-   li.nav-item
            //-     a.nav-link(href='options/') Options
            //-   li.nav-item
            //-     a.nav-link(href='donate/') Спасибо
            //- ul.nav.navbar-nav.float-sm-right
            //-   li.nav-item
            //-     a.nav-link(href='https://github.com/' rel='nofollow')
            //-       i.fa.fa-github
            //-       |  GitHub

    .jumbotron.bs-docs-header
      .container
        block header
          h1 Исправление текста в неправильной раскладке
          p.lead
            each val, index in lang
              span(class="flag flag-"+val title=langName[index])

    main.container
      block content

    footer.bd-footer
      .container
        p.text-muted.float-sm-right © 2008–2016

        include partials/counters.html
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js')
    block scripts
