- var lang = ['ru', 'en', 'uk', 'be', 'uz', 'kk', 'az', 'lt', 'mo', 'lv', 'ky', 'tg', 'hy', 'tk', 'et']
- var langName = ['Русский', 'English (Английский)', 'Українська (Украинский)', 'Беларуская (Белорусский)', 'Ўзбекча (Узбекский)', 'Қазақша (Казахский)', 'Azərbaycanca (Азербайджанский)', 'Lietuvių (Литовский)', 'Moldovenească (Молдавский)', 'Latviešu (Латышский)', 'Кыргызча (Киргизский)', 'Тоҷикӣ (Таджикский)', 'Հայերեն (Армянский)', 'Türkmen (Туркменский)', 'Eesti (Эстонский)']
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    block head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='search', type='application/opensearchdescription+xml', href='/opensearch.xml', title='Конвертация раскладки')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='css/convert.css')
  body
    block link
      -var selected = 'Раскладка'; //default
    -var menu = { 'Раскладка': '/', 'Эмоджи': 'emoji.html' };
    //- { 'Что дальше?': 'touch-typing/', 'Спасибо': 'donate/' };

    nav.navbar.navbar-expand-lg.navbar-light.bg-light(role='navigation')
      .container
        // Collapsed navigation
        a.navbar-brand(href='.')
          span Typing
          span.red .su
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          | ≡
          //-span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          // Main navigation
          ul.navbar-nav.mr-auto
            each val, key in menu
              if (selected === key)
                li.nav-item.active
                  a.nav-link(href=val)
                    = key
                    span.sr-only (current)
              else
                li.nav-item
                  a.nav-link(href=val)= key
          //- ul.nav.navbar-nav.float-sm-right
          //-   li.nav-item
          //-     a.nav-link(href='https://github.com/' rel='nofollow')
          //-       i.fa.fa-github
          //-       |  GitHub

    .jumbotron.bs-docs-header
      .container
        block header
          h1 Исправление текста в неправильной раскладке
          p.lead
            each val, index in lang
              span(class="flag flag-"+val title=langName[index])

    main.container
      block content

    footer.bd-footer
      .container
        p.text-muted.float-sm-right © 2008–2018

        include partials/counters.html
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js')
    block scripts
