extends ./_layout.pug

block head
  title
    | Онлайн смена раскладки клавиатуры: с русской на английскую и обратно (16 языков)
  meta(name='keywords', content='онлайн раскладка, компьютерная раскладка, неправильная раскладка, неверная раскладка, раскладка клавиатуры, абракадабра, опечатка, переключение раскладки клавиатуры, Punto Switcher онлайн')
  meta(name='description', content='Перевод раскладки онлайн для текста набранного в неправильной раскладке: если вы забыли переключить раскладку клавиатуры.')

                
block header
  .col-md-12
    h1 Исправление текста в неправильной раскладке
    p.lead
      each val, index in lang
        span(class="flag flag-"+val title=langName[index])

block content
  //- .row
  //-   .col-sm-12
  //-     h2.text-muted
  div.text-muted
    .sr-only
      h6 Пример:
    p
      strong Ghbdtn! 
      i.fas.fa-long-arrow-alt-right
      strong  Привет! 🇷🇺
      strong  Руддщ! 
      i.fas.fa-long-arrow-alt-right
      strong  Hello! 🇺🇸
  br
  form#convert-form.mb-5
    .row
      .col-sm-6
        fieldset.mb-3
          label.form-label(for='coded') Исходный текст
          textarea#coded.form-control(name='coded', cols='50', rows='12', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', placeholder='Вставьте сюда текст в неправильной раскладке')
      .col-sm-6
        fieldset.mb-3
          label.form-label(for='decoded') Восстановленный текст
          textarea#decoded.form-control(name='decoded', cols='50', rows='12')
          //- readonly
    .row
      .col-md-6
        fieldset.mb-3
          //- label(for='lang1') Исходный язык:
          select.form-select.mb-3(aria-label='Исходный язык' id='lang1')
            option.lang-sm.lang-lbl-full(value='auto', selected, lang='be') Авто
            each val, index in lang
              option(value=val)=langName[index]
      .col-md-6
        fieldset.mb-3
          //- label(for='lang2') В какую раскладку сконвертировать:
          select.form-select.mb-3(aria-label='В какую раскладку сконвертировать' id='lang2')
            each val, index in lang
              option(value=val)=langName[index]
            //- option Авто
            //- option Кириллица
            //- option Латиница
        fieldset.mb-3
          input#start-btn.btn.btn-info(type='button', value='Старт!')
          input#copy-btn.btn.btn-light(type='button', value='Копировать', data-clipboard-target='#decoded')
          input#clear-btn.btn.btn-light(type='button', value='Очистить')

    //- h3 Почему наш кодировщик лучше других аналогов?
  .features.bg-light.p-4.mb-5
    .text-muted.text-center
      h4.sr-only Особенности кодировщика
      .row
        .col-6.col-sm-4
          i.features-icon.features-icon-shield
          h5 Безопасно
          p Ваш текст не отправляется на сервер, поэтому исключена возможность его прочтения
        .col-6.col-sm-4
          i.features-icon.features-icon-flash
          h5 Быстро
          p Мгновенное кодирование без расходования трафика
        .col.col-sm-4
          i.features-icon.features-icon-star
          h5 Легко
          p Не требуется устанавливать на компьютер дополнительные программы,
            br
            | просто добавьте страницу в закладки браузера
  .well.panel-narrow
    .row
      .col-md-12
        small.text-muted
          | Бывают ситуации когда вы долго печатали текст, но взглянув на монитор поняли, что забыли переключить раскладку клавиатуры, и текст оказался набран впустую. Или ваш собеседник отправил сообщение не посмотрев, и вы получили набор кракозябр вместо связного текста. Либо если у вас в системе не установлена нужная раскладка, но нужно переключиться на ваш родной язык.
          br
          | Во всех этих случаях вам поможет наш сайт. Просто начните печатать текст в поле ввода и он автоматически сконвертируется в нужный. Также можете скопировать текст через буфер обмена. Он также преобразуется автоматически.

block scripts


