extends ./_layout.pug

block head
  title
    | Online Конвертирование русской раскладки в английскую (16 языков: RU-EN, EN-RU, UK-EN, EN-UK, UK-RU)
  meta(name='keywords', content='раскладка, не та раскладка, неправильная раскладка, неверная раскладка, hfcrkflrf, опечатка, переключение раскладки клавиатуры, Punto Switcher онлайн')
  meta(name='description', content='Конвертирование текста, набранного в неправильной раскладке прямо из браузера. Если вы забыли переключить раскладку клавиатуры.')

                
block header
  h1 Исправление текста в неправильной раскладке
  p.lead
    each val, index in lang
      span(class="flag flag-"+val title=langName[index])

block content
  //- .row
  //-   .col-sm-12
  //-     h2.text-muted 
  .row
    .col-xs-4.col-sm-2.col-lg-1
      b Пример:
    .col-xs-8.col-sm-4.col-lg-3
          | Ghbdtn! ⇒ Привет!
          br
          | Руддщ! ⇒ Hello!
  br
  form#convert-form.form-horizontal
    .row
      .col-sm-6
        fieldset.form-group
          textarea.form-control(name='coded', cols='50', rows='12', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', placeholder='Вставьте сюда текст в неправильной раскладке и нажмите кнопку старт!')
      .col-sm-6
        fieldset.form-group
          textarea#decoded.form-control(name='decoded', cols='50', rows='12')
          //- readonly
    .row
      .col-md-6
        fieldset.form-group
          //- label(for='lang1') Исходный язык:
          select.custom-select(id='lang1')
            option.lang-sm.lang-lbl-full(value='auto', selected, lang='be') Авто
            each val, index in lang
              option(value=val)=langName[index]
      .col-md-6
        fieldset.form-group
          //- label(for='lang2') В какую раскладку сконвертировать:
          select.custom-select(id='lang2')
            each val, index in lang
              option(value=val)=langName[index]
            //- option Авто
            //- option Кириллица
            //- option Латиница
        fieldset.form-group
          input#start-btn.btn.btn-info(type='button', value='Старт!')
          input#copy-btn.btn(type='button', value='Копировать', data-clipboard-target='#decoded')
          input#clear-btn.btn(type='button', value='Очистить')
  br
  .row
    .col-sm-12
      include partials/share.html
  br
    //- h3 Почему наш кодировщик лучше других аналогов?
  .features.jumbotron
    .text-muted.text-center
      h5 Особенности кодировщика
      .row
        .col-sm-4
          i.features-icon.features-icon-shield
          p Введенные данные не отправляются на сервер, поэтому исключена возможность прочтения вашего текста
        .col-sm-4
          i.features-icon.features-icon-flash
          p Мгновенное кодирование без расходования трафика
        .col-sm-4
          i.features-icon.features-icon-star
          p Не нужно устанавливать на компьютер дополнительные программы,
            br
            | просто добавьте страницу в закладки браузера
  .well.panel-narrow
    .row
      .col-sm-4
        each val, index in lang
          p
            span.lang-sm.lang-lbl-full(lang=val)
block scripts
  script(src='js/home.js')

