.keyboard {
    user-select: none;
    max-width: 690px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 5px;
}

.keyboardRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.keyboardKey {
    cursor: pointer;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px -1px rgb(0 0 0 / 30%);
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    color: black;
    background: white;
    border-bottom: 1px solid #b5b5b5;

    font-size: 0.75rem;
    
    @media (min-width: 360px) {
        font-size: 1rem;
    }
    @media (min-width: 768px) {
        flex: 0 1 40px;
    }

    &:not(:last-child) {
        margin-right: 5px;
    }
    span {
        pointer-events: none;
    }
    &_auto {
        cursor: auto;
        display: none;
        flex: 1 0 auto;
        justify-content: flex-start;

        @media (min-width: 768px) {
            display: flex;
            padding: 5px 10px;
        }
    }
    &_wide {
        flex: 8 0 auto;
    }
    &_smaller {
        font-size: 0.75rem;
    }
    &_symbol {
        font-size: 0.75rem;
        justify-content: center;
    }
}

[data-theme="dark"] {

    .keyboard {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .keyboardKey {
        color: white;
        background: black;
        border-bottom: 1px solid #3a3a3a;
    }

}