doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title
      | Online Конвертирование текста, набранного в неправильной раскладке (RU-En, En-RU)
    meta(name='keywords', content='раскладка, не та раскладка, неправильная раскладка, неверная раскладка, hfcrkflrf, опечатка, переключение раскладки клавиатуры, ')
    meta(name='description', content='Конвертирование текста, набранного в неправильной раскладке прямо из браузера. Если вы забыли переключить раскладку клавиатуры.')
    script(src='js/convert.js')
    link(rel='stylesheet', href='css/convert.css')
    link(rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css")
    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/tether/dist/js/tether.min.js")
    script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
    link(rel="stylesheet" href="../bower_components/jquery-bar-rating/dist/themes/fontawesome-stars.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  body
    main.container
      .row
        .col-sm-12
          h2.text-muted Исправление текста в неправильной раскладке
      .row
        .col-xs-4.col-sm-2.col-lg-1
          b Пример:
        .col-xs-8.col-sm-4.col-lg-3
              | Ghbdtn! ⇒ Привет!
              br
              | Руддщ! ⇒ Hello!
      br
      form#convert-form.form-horizontal
        .row
          .col-sm-6
            fieldset.form-group
              textarea.form-control(name='coded', cols='50', rows='12') Вставьте текст в неправильной раскладке сюда и нажмите кнопку старт!
          .col-sm-6
            fieldset.form-group
              textarea.form-control(name='decoded', cols='50', rows='12')
              //- readonly
        .row
          .col-sm-12
            fieldset.form-group
              label(for='lang2') В какую раскладку сконвертировать:
              select.c-select(id='lang2')
                each val in ['ru', 'en', 'uk', 'be', 'uz', 'kk', 'az', 'lt', 'mo', 'lv', 'ky', 'tg', 'hy', 'tk', 'et']
                  option(value=val)=val
                //- option Авто
                //- option Кириллица
                //- option Латиница
              input#start-btn.btn.btn-info(type='button', value='Старт!')
        //- h3 Почему наш кодировщик лучше других аналогов?
        .text-muted
          b Особенности кодировщика:
          ul
            li
              | Введенные данные не отправляются на сервер, поэтому:
              ol
                li Исключена возможность прочтения вашего текста
                li Мгновенное кодирование без расходования трафика.
            li
              | Не нужно устанавливать на компьютер дополнительные программы,
              br
              |   просто добавьте страницу в закладки браузера
      //- // begin of Rambler's Top100 code
      //- a(href='http://top100.rambler.ru/top100/')
      //-   img(src='http://counter.rambler.ru/top100.cnt?568486', alt='', width='1', height='1', style='border:0')
      //- // end of Top100 code
      //- // Openstat
      //- span#openstat2184317
      //- script.
      //-   var openstat = { counter: 2184317, next: openstat };
      //-   (function(d, t, p) {
      //-   var j = d.createElement(t); j.async = true; j.type = "text/javascript";
      //-   j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
      //-   var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
      //-   })(document, "script", document.location.protocol);
      //- // /Openstat

      footer
        p.text-muted © 2008–2016
