extends ./layout.jade

block head
  title
    | Online Конвертирование русской раскладки в английскую (16 языков: RU-EN, EN-RU, UK-EN, EN-UK, UK-RU)
  meta(name='keywords', content='раскладка, не та раскладка, неправильная раскладка, неверная раскладка, hfcrkflrf, опечатка, переключение раскладки клавиатуры, Punto Switcher онлайн')
  meta(name='description', content='Конвертирование текста, набранного в неправильной раскладке прямо из браузера. Если вы забыли переключить раскладку клавиатуры.')
  script(src='js/convert.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js")

                
block header
  h1 Исправление текста в неправильной раскладке
  p.lead
    each val, index in lang
      span(class="flag flag-"+val title=langName[index])
      | 
  //- p.lead
  //-   | Bootstrap-select is a jQuery plugin that utilizes Bootstrap's dropdown.js to style and bring additional functionality to standard select elements.
  //- a.btn.btn-outline-inverse.btn-lg(href='//github.com/silviomoreto/bootstrap-select/archive/v1.10.0.zip', role='button')
  //-   i.fa.fa-download
  //-   |  Download (v1.10.0)
  //- .carbonad
  //-   .carbonad-inner
  //-   .charity
  //-     | Ad revenue is donated to 
  //-     a(href='http://www.projetocana.org/', target='_blank', rel='nofollow') Projecto Cana
  //-     | .

block content
  //- .row
  //-   .col-sm-12
  //-     h2.text-muted 
  .row
    .col-xs-4.col-sm-2.col-lg-1
      b Пример:
    .col-xs-8.col-sm-4.col-lg-3
          | Ghbdtn! ⇒ Привет!
          br
          | Руддщ! ⇒ Hello!
  br
  form#convert-form.form-horizontal
    .row
      .col-sm-6
        fieldset.form-group
          textarea.form-control(name='coded', cols='50', rows='12', placeholder='Вставьте сюда текст в неправильной раскладке и нажмите кнопку старт!')
      .col-sm-6
        fieldset.form-group
          textarea#decoded.form-control(name='decoded', cols='50', rows='12')
          //- readonly
    .row
      .col-md-6
        fieldset.form-group
          //- label(for='lang1') Исходный язык:
          select.c-select(id='lang1')
            option.lang-sm.lang-lbl-full(value='auto', selected, lang='be') Авто
            each val, index in lang
              option(value=val)=langName[index]
      .col-md-6
        fieldset.form-group
          //- label(for='lang2') В какую раскладку сконвертировать:
          select.c-select(id='lang2')
            each val, index in lang
              option(value=val)=langName[index]
            //- option Авто
            //- option Кириллица
            //- option Латиница
        fieldset.form-group
          input#start-btn.btn.btn-info(type='button', value='Старт!')
          input#copy-btn.btn(type='button', value='Копировать', data-clipboard-target='#decoded')
          input#clear-btn.btn(type='button', value='Очистить')
  br
  .row
    .col-sm-12
      script(type='text/javascript', src='https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
      script(type='text/javascript', src='https://yastatic.net/share2/share.js', charset='utf-8')
      .ya-share2(data-services='vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj')
  br
    //- h3 Почему наш кодировщик лучше других аналогов?
  .jumbotron
    .text-muted
      h5 Особенности кодировщика:
      ul
        li
          | Введенные данные не отправляются на сервер, поэтому:
          ol
            li Исключена возможность прочтения вашего текста
            li Мгновенное кодирование без расходования трафика.
        li
          | Не нужно устанавливать на компьютер дополнительные программы,
          br
          |   просто добавьте страницу в закладки браузера
  .well.panel-narrow
    .row
      .col-sm-4
        each val, index in lang
          p
            span.lang-sm.lang-lbl-full(lang=val)
block scripts
  script.
    (function(){
      new Clipboard('#copy-btn');
    })();